
<h1>乳児期</h1>
<div>
<h3>〇乳児期の特徴</h3>
乳児期（0歳）における発育は、生後3～4カ月ごろまでが最も急速な体重の増加を示し、出生時を約3kgとすると約2倍になり、満1年では約3倍になります。そのため、この時期の栄養は重要で、充実した授乳栄養、離乳栄養が必要となります。
</div>
<div>
<h3>〇授乳栄養</h3>
<p>
新生児を含めて、乳児期の前半（5カ月ごろまで）は乳汁によって栄養素を取ります。母乳によるものを「母乳栄養」、粉乳によるものを「人工栄養」、母乳と粉乳の両方を用いるものを「混合栄養」という。母乳を与える割合（母乳栄養と混合栄養の合計）は近年増加傾向にあります。
</p>
<p>
<br>
①母乳栄養
<br>
母親による授乳は、母親が子どもに栄養素を与えるという行為にとどまらず、母子関係のスタートでもあります。母乳が十分に分泌され、それを乳児がしっかり飲むことによって、母親としての自信や自覚が形成されます。また、出産後5日間分泌される母乳のことを初乳と呼び、分泌量は少ないですが免疫物質を多く含み、タンパク質やミネラルが豊富に含まれているため、新生児にとって非常に重要です。初乳の成分は日々変化し、成分の変化に伴い6～10日は移行乳、10日以降は成熟乳と呼ばれるようになります。
</p>
<p>
<br>
②人工栄養
<br>
母乳を与えられない場合には、母乳以外の栄養材料で乳児を育てることになります。人工栄養には、調製粉乳と牛乳があり、調製粉乳は、新生児から6～9ヶ月の乳児を対象とした「乳児用調製粉乳」、離乳期に離乳食と併用する「フォローアップミルク」、代謝異常や牛乳アレルギー、乳糖不耐症などの病気の治療に対応した「治療用調整粉乳」に分けられます。また、母乳不足や授乳時間に制限がある場合は授乳の一部を人工栄養で補う混合栄養を行います。
</p>



</div>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>CSSの練習</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>



<div class="box"> 

<% @posts.each do |t| %>
    <% if t.category == "nyuuziki" %>  
    <h2>悩み</h2>
        <%= t.body %></p>
    <% end %>
<% end %>

    </div>
</body>
</html>


<div>
<h3>〇気を付けたいこと</h3>
ああ
</div>