
<h1>幼児期</h1>
<div>
<h3>〇幼児期の特徴</h3>
乳児期（0歳乳栄養が必要となります。
</div>
<div>
<h3>〇授乳栄養</h3>
新生児を含め）は近年増加傾向にあります。
</div>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>CSSの練習</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>



<div class="box"> 

<% @posts.each do |t| %>
    <% if t.category == "youziki" %>
    <h2>悩み</h2>
        <%= t.body %></p>
    <% end %>
<% end %>

</div>
</body>
</html>


<div>
<h3>〇気を付けたいこと</h3>
ああ
</div>